*{
    margin: 0;
    padding: 0;
}

.header{
    border: solid 1px darkgrey;
    height: 100px;
    margin-bottom: 10px;
}

.header .inner input{
    display: inline-block;
    width: 100%;
    float: left;
    padding-bottom: 10px;
}

.footer .inner span{
    padding-left: 10px;
}

.submit .inner{
    float: left;
    margin-right: 20px;
    border: solid 1px darkgrey;
    background-color: beige;
    cursor: pointer;
}

.submit{
    margin-top: 20px;
    margin-bottom: 100px;
}

.fm,#img{
    width: 80px;
    height: 80px;
}