{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        zi{
            position: center;
            float: right;
            width: 500px;
            height: 500px;
    }

        img{
            padding-left: 320px;
            padding-top: 40px;
            height: 300px;
            width: 300px;
        }

        .cont{
            text-align: center;
            margin-left: -45px;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="cont"><h1>权限不足</h1></div>
    <div class="zi"><img src="/static/img/bcg.jpg" alt="背景图片"></div>
</body>
</html>