<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/public/public.css">
</head>
<body>
    <div id="nav">
        <div class="first_level cursor">系统管理</div>
            <div class="second_level cursor">
                <li><span href="/system/position/">职位管理</span></li>
                <li><span href="/admin/">管理员管理</span></li>
            </div>
        <div class="first_level cursor">文章管理</div>
            <div class="second_level cursor">
                <li><span href="/admin/article_i/add/">添加文章</span></li>
                <li><span href="/admin/article_i/draft/">草稿箱</span></li>
                <li><span href="/admin/article_i/to_audit/">待审核</span></li>
                <li><span href="/admin/article_i/rejected/">已驳回</span></li>
                <li><span href="/admin/article_i/to_publish/">待发布</span></li>
                <li><span href="/admin/article_i/published/">已发布</span></li>
                <li><span href="/admin/article_i/error/">异常文章</span></li>
            </div>
        <div class="first_level cursor">标签管理</div>
            <div class="second_level cursor">
                <li><span href="/admin/tag/">标签列表</span></li>
            </div>
        <div class="first_level cursor">分类管理</div>
            <div class="second_level cursor">
                <li><span href="/admin/category/">分类列表</span></li>
            </div>
        <div class="first_level cursor">用户管理</div>
            <div class="second_level cursor">
                <li><span href="/admin/user/">用户列表</span></li>
            </div>
        <div class="first_level cursor">数据中心</div>
            <div class="second_level cursor">
                <li><span href="/admin/analysis/article/">文章分析</span></li>
                <li><span href="/admin/analysis/user/">用户分析</span></li>
                <li><span href="/admin/analysis/log/">操作日志</span></li>
            </div>
        <div class="first_level cursor">回收站</div>
            <div class="second_level cursor">
                <li><span href="/admin/recycle_bin/">文章列表</span></li>
            </div>
    </div>
    <script src="/static/js/jQuery-2.1.4.min.js" type="text/javascript"></script>
    <script src="/static/js/outer.js"></script>
</body>
</html>