<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/css/user/login.css">
</head>
<body>
    <div class="outer">
        <div class="title">用户登录</div>
        <div class="input_area">
        <div class="inner"><label for="name">用户名</label>
        <input id="name" type="text">
        </div>
        <div class="inner"><label for="password">密&nbsp;&nbsp;&nbsp;码</label>
        <input id="password" type="password">
        </div>
        <div class="inner" id="login">
        <span class="login">登录</span>
        </div>
        <div class="for_register">没有账号？<a href="/user/register/" style="color: aqua">立即注册</a></div>
    </div>
    </div>
<script src="/static/js/jQuery-2.1.4.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.cookie.js"></script>
<script src="/static/js/user/login.js" type="text/javascript"></script>
</body>
</html>