<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="/static/css/user/login.css">
</head>
<body>
    <div class="outer">
        <div class="title">用户注册</div>
        <div class="input_area">
        <div class="inner"><label for="name">用户名</label>
        <input id="name" type="text" maxlength="30">
        </div>
        <div class="inner"><label for="password">密&nbsp;&nbsp;&nbsp;码</label>
        <input id="password" type="password">
        </div>
        <div class="inner"><label for="re_password">请确认</label>
        <input id="re_password" type="password">
        </div>
        <span class="register">注册</span>
        </div>
    </div>
<script src="/static/js/jQuery-2.1.4.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.cookie.js"></script>
<script src="/static/js/user/register.js" type="text/javascript"></script>
</body>
</html>